#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  color: #188a84;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 50vh;
  font-family: "Segoe UI", "Roboto";
}

/* Header and nav styles */
header {
  background-image: url("./assets/images/mountains.jpg");
  background-size: cover;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  border-bottom: 2px solid #189baa;
}

header h1 {
  font-weight: bolder;
  margin: 0;
  font-size: 2.5rem;
  color: #0e5259;
  text-shadow: 0 0 4px;
}

nav a {
  text-decoration: none;
  color: #189baa;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li a {
  transition: all 0.75s ease;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 2.5 rem;
  text-shadow: 0 0 6px;
}

nav ul li a:hover {
  background: #0c6f7a;
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

.section-header {
  font-size: 3.5rem;
  color: #0e5259;
  padding-bottom: 15px;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  text-shadow: 0 0 10px;
}

/* My page section styles */
.myPage {
  background-image: url("./assets/images/mountains.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}

.myPage h2 {
  font-size: 3rem;
  color: #0e5259;
  text-shadow: 0 0 10px;
  text-align: center;
}

.myPage p {
  font-size: 25px;
  color: #328c83;
}

.myPage-details {
  width: 45%;
  text-align: center;
  margin: 3.5%;
  font-size: 1rem;
}

/* About me styles */
.about {
  background-image: url("./assets/images/mountains.jpg");
  background-size: cover;
}
.about-me {
  display: flex;
  flex-wrap: wrap;
  float: right;
  padding: 3rem;
}

.my-img {
  flex: 1 15%;
  margin-right: 25px;
}

.about p {
  line-height: 2;
  color: #0e5259;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

/* Projects page styling */
.projects {
  background-image: url("./assets/images/nightSky.jpg");
  background-size: cover;
}

.project {
  margin: 30px auto;
  width: 85%;
  border-bottom: 1px solid #e7eeec;
}

.project-stuff {
  display: flex;
  align-items: center;
}

.project-img {
  flex: 1 15%;
  margin-right: 150px;
}

.git-hub {
  text-align: center;
}

.project-description {
  flex: 7;
}

.project-description h4 {
  font-size: 2rem;
  color: #dbf1ee;
}

.project-description p {
  color: #d5f2ea;
  font-size: 1.2rem;
}

/* Contact page styling */
.contact {
  background-image: url("./assets/images/mountains.jpg");
  background-size: cover;
}

.contact h2 {
  color: #162425;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}

.contact-details {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.contact-details p,
.contact-details address {
  margin: 20px 0;
  font-size: 2rem;
}

.form {
  width: 30%;
}

.form button {
  background: #0d6b97;
  color: white;
  font-size: 2rem;
  border-radius: 20px;
  width: 60%;
  margin-bottom: 10px;
  margin-left: 5rem;
}

.form button:hover {
  color: #050b2c;
  background: #39a6b2;
}

.form input,
.form textarea {
  border: 1px solid #7b98a7;
  padding: 10px 12px;
  font-size: 1rem;
  color: #061e2b;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: #a5daf3;
}

/* Resume styling */
.resume {
  background-image: url("./assets/images/mountains.jpg");
  background-size: cover;
  margin-top: 20px;
}

.tech {
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.tech-table {
  margin: 10px;
  margin-bottom: 1em;
  background-color: #698e97;
}

.front-end,
.back-end {
  width: 30%;
  text-align: center;
}

.resume-download {
  text-align: center;
  margin: 0 auto 35px auto;
}

.logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #0e5259;
  display: inline-block;
}

.table-title {
  color: #20574d;
  font-size: 2rem;
  font-weight: bolder;
}

.table-text {
  color: #8dbdb4;
  font-size: 1.2rem;
}

.table-text ul li {
  list-style: none;
}

/* Styles to footer */
footer {
  background-image: url("./assets/images/mountains.jpg");
  background-size: cover;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer h3 {
  color: #186e5f;
  font-size: 1.2rem;
  margin: 0;
}
